# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/*
.idea/*.*

cmake-build-debug/*
cmake-build-debug/*.*

cmake-build-release/*
cmake-build-release/*.*

build/*
build/*.*

samples/my_server/cmake-build-debug/*
samples/my_server/cmake-build-debug/*.*

samples/my_server/cmake-build-release/*
samples/my_server/cmake-build-release/*.*

samples/my_client/cmake-build-debug/*
samples/my_client/cmake-build-debug/*.*

samples/my_client/cmake-build-release/*
samples/my_client/cmake-build-release/*.*

samples/my_client/.idea/*
samples/my_client/.idea/*.*

samples/my_server/.idea/*
samples/my_server/.idea/*.*